@import 'vari';

body {
  background-color: #fdfdfd;
  padding: 0;
  margin: 0;
  font-family: Nexa, 'Helvetica', san-serif;
  font-size: 16px;
}

#logo-si-mark {
	cursor: pointer;
	.shine {
		fill: #f2f2f2;
		@include transition(all,.5s,ease-in);
	}

	.mark {
		fill: #202021;
		@include transition(all,.5s,ease-in);
	}

	&:hover {
		.shine {
			fill: #d6d6d6;
		}

		.mark {
			fill: #000;
		}
	}
}

a {
	color: $gold;

	&:hover {
		color: $black;
	}
} 

.logo {
	// width: 100px;
	// height: 100px;
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 90px;
		height: auto;
		display: inline-block;
	}
}

#totem {
	width: 100%;
	padding: 1.2em;
	border-bottom: 1px solid $gold;

	nav {
		display: block;
		vertical-align: middle;
	}	
}

.navigation {
	list-style: none;
	padding:0;
	margin: 0;
	@include flex-box();
	flex-flow:row wrap;
	max-width: 800px;
	min-width: 300px;
	//border-bottom: 1px solid #e6e6e6;
	align-items: center;
	margin: 0 auto;
	text-align: center;

	li {
		@include flex(1);
	}

	a {
		text-decoration: none;
		color: $black;
		padding: 5px 10px;
		background-color: transparent;
		@include transition(all,.2s,ease-in);

		&:hover {
			text-decoration: none;
			background-color: $blue;
		}
	}
}

@media screen and (max-width: 500px) and (min-width: 300px) {
	#totem {
		padding: 10px;
		margin-bottom: 1em;
		font-size: .725em;
		font-weight: bold;
		border-bottom: 1px solid #e6e6e6;
	}

	.logo {
		svg {
			width: 100%;
		}
	}
	.navigation {
		li {
			order: 2;
		}
		.logo {
			order: 1;
		}
	}
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}