@font-face {
  font-family: 'Nexa';
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/32B1E6_0_0.eot");
  src: url("/fonts/32B1E6_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/32B1E6_0_0.woff2") format("woff2"), url("/fonts/32B1E6_0_0.woff") format("woff"), url("/fonts/32B1E6_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'NexaBlack';
  src: url("/fonts/32B1E6_1_0.eot");
  src: url("/fonts/32B1E6_1_0.eot?#iefix") format("embedded-opentype"), url("/fonts/32B1E6_1_0.woff2") format("woff2"), url("/fonts/32B1E6_1_0.woff") format("woff"), url("/fonts/32B1E6_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Nexa';
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/32B1E6_2_0.eot");
  src: url("/fonts/32B1E6_2_0.eot?#iefix") format("embedded-opentype"), url("/fonts/32B1E6_2_0.woff2") format("woff2"), url("/fonts/32B1E6_2_0.woff") format("woff"), url("/fonts/32B1E6_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Nexa';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/32B1E6_3_0.eot");
  src: url("/fonts/32B1E6_3_0.eot?#iefix") format("embedded-opentype"), url("/fonts/32B1E6_3_0.woff2") format("woff2"), url("/fonts/32B1E6_3_0.woff") format("woff"), url("/fonts/32B1E6_3_0.ttf") format("truetype"); }

.Nexa-bold-italic {
  font-family: Nexa;
  font-weight: bold;
  font-style: italic; }

.NexaBlack {
  font-family: NexaBlack; }

.Nexa-normal-italic {
  font-family: Nexa;
  font-weight: normal;
  font-style: italic; }

.Nexa-normal-normal {
  font-family: Nexa;
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #fdfdfd;
  padding: 0;
  margin: 0;
  font-family: Nexa, 'Helvetica', san-serif;
  font-size: 16px; }

#logo-si-mark {
  cursor: pointer; }
  #logo-si-mark .shine {
    fill: #f2f2f2;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
  #logo-si-mark .mark {
    fill: #202021;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
  #logo-si-mark:hover .shine {
    fill: #d6d6d6; }
  #logo-si-mark:hover .mark {
    fill: #000; }

a {
  color: #C89933; }
  a:hover {
    color: #2B2733; }

.logo {
  display: inline-block;
  vertical-align: middle; }
  .logo svg {
    width: 90px;
    height: auto;
    display: inline-block; }

#totem {
  width: 100%;
  padding: 1.2em;
  border-bottom: 1px solid #C89933; }
  #totem nav {
    display: block;
    vertical-align: middle; }

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  min-width: 300px;
  align-items: center;
  margin: 0 auto;
  text-align: center; }
  .navigation li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
  .navigation a {
    text-decoration: none;
    color: #2B2733;
    padding: 5px 10px;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .navigation a:hover {
      text-decoration: none;
      background-color: #92DCE5; }

@media screen and (max-width: 500px) and (min-width: 300px) {
  #totem {
    padding: 10px;
    margin-bottom: 1em;
    font-size: .725em;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6; }
  .logo svg {
    width: 100%; }
  .navigation li {
    order: 2; }
  .navigation .logo {
    order: 1; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


/*# sourceMappingURL=full.css.map*/